#!/usr/bin/make -f

%:
	dh ${@}

override_dh_auto_clean:
	dh_auto_clean

	rm -f config.guess config.sub
	QUILT_PATCHES=debian/patches quilt pop -a -R || test $$? = 2

override_dh_auto_configure:
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2
	[ -r /usr/share/misc/config.guess ] && cp -f /usr/share/misc/config.guess config.guess
	[ -r /usr/share/misc/config.sub ] && cp -f /usr/share/misc/config.sub config.sub

	dh_auto_configure -- LDFLAGS="${LDFLAGS} -Wl,-z,defs" \
		CFLAGS="${CFLAGS} -Wall -DUSE_GETNAMEINFO=1 -DUSE_GETIFADDRS=1"

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/iftop

override_dh_strip:
	dh_strip --dbg-package=iftop-dbg
